<div class="container">
  <div class="footer-content">
    <h1>La Dolce Vita</h1>
    <p>{{ 'footer-description' | translate }}</p>

    <ul class="socials">
      <li><a
        href="https://instagram.com/ladolcevita.society?igshid=MzRlODBiNWFlZA=="
        target="_blank"
        title="Instagram"
      ><i class="fa fa-instagram"></i></a></li>
      <li><a
        href="mailto:ladolcevita.society@gmail.com"
        title="Email"
      ><i class="fa fa-envelope"></i></a></li>
    </ul>

  </div>

  <div class="footer-bottom">
    <p>©2023 by La Dolce Vita. All Rights Reserved.</p>
  </div>

</div>


