<div class="new-photo-container">

  <div style="width: 100%; display: flex; justify-content: flex-end;">
    <div
      class="remove-photo-container"
      (click)="removePhoto()"
    >
      Remove photo
      <i class="fa fa-close"></i>
    </div>
  </div>


  <form
    class="input-photo-container"
    [formGroup]="formPhoto"
  >
    <div class="form-element-container">
      <div class="element-photo">
        <label>
          <i class="fa fa-picture-o" aria-hidden="true"></i>
          New photo
        </label>
        <input
          style="width: 100%"
          type="file"
          accept="image/*"
          formControlName="photo"
          (change)="onChange($event)">
        <p
          *ngIf="initialPhoto != null"
          style="margin: 0;"
        >
          Initial photo name: {{initialPhoto}}
        </p>
      </div>
      <div
        *ngIf="formPhoto.get('photo')?.invalid || formPhoto.get('photo')?.dirty"
        class="invalid-input"
      >
        <div
          *ngIf="formPhoto.get('photo')?.hasError('imageValidator')"
        >
          <i class="fa fa-exclamation-circle"></i> The format is not accepted
        </div>
      </div>
    </div>
  </form>

  <angular-editor id="editor-create-events-en" [(ngModel)]="htmlContent" [config]="editorConfig">
    <ng-template>
      <ae-toolbar-set>
        <!--<ae-button iconClass="fa fa-html5" title="Angular editor logo" (buttonClick)="executeCommandFn('insertHtml')"></ae-button>-->
      </ae-toolbar-set>
    </ng-template>
  </angular-editor>

</div>

