.event-participation-container {
  margin-top: 30px;

  background-color: white;
  box-shadow: 0 0 8px #c4c4c4;
  border-radius: 10px;
}


/* CONTAINER TOP */
.event-participation-container h6 {
  font-weight: bold;
  margin: 0;
}

.event-participation-container .sub-container {
  padding: 20px;
}
.event-participation-container .top {
  border-bottom: solid 2px #dadada;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* CONTAINER TOP -> SELECT */
.top select {
  border-radius: 5px;
  border-color: #c4c4c4;
  padding: 5px 15px;
  cursor: pointer;
  background-color: rgba(145, 17, 14, 0.05);
}
.top select:focus {
  border-color: #aaa;
  color: #222;
  outline: none;
}
select option {
  padding: .6rem;
  background: white;
}
option:not(:checked) {
  background-color: white;
}


/* TABLE */
.participation-table-container {
  width: 100%;
  padding: 10px;
}
.participation-table-container th {
  padding: 20px 0;
  text-align: center;
  background-color: rgba(145, 17, 14, 0.6);
}
.participation-table-container tr {
  background-color: rgba(145, 17, 14, 0.05);
}
.participation-table-container td {
  padding: 10px 0;
  border-bottom: solid 1px #91110E;
  border-top: solid 1px #91110E;
  text-align: center;
}

/* PAGINATION */
.pagination-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
 ::ng-deep .ngx-pagination .current{
  background: rgba(145, 17, 14, 0.6)!important;
   color: black !important;
}
