<home-slideshow></home-slideshow>

<div
  class="home-container"
>
  <div
    class="article-section-home"
  >
    <h3>
      {{ "home.subparagraph.articles" | translate }}
    </h3>

    <div
      [routerLink]="['/articles/article', article.id]"
      class="display-article-event-container full"
      *ngFor="let article of articles"
    >
      <div
        class="article-event-image-container"
      >
        <img [src]="mapArticlePhoto.get(article.id!)">
      </div>

      <div
        class="article-event-info-container"
      >
        <div
          class="writer-info-container"
        >
          <div>
            <img [src]="mapMemberPhoto.get(article.email!)" alt="member-photo">
          </div>

          <div
            style="display: flex; flex-direction: column; align-items: flex-start"
          >
            <h6
              style="font-size: 14px;"
            >{{mapArticleMember.get(article.id!)}} <i class="fa fa-pencil" aria-hidden="true"></i></h6>
            <h6
              style="font-size: 14px;"
            >{{article.lecture_time}} {{"articles.subparagraph.minutes" | translate}}</h6>
          </div>
        </div>

        <div style="overflow: hidden; text-overflow: ellipsis">
          <h6 class="article-title">{{mapArticleLanguage.get(article.id!)?.title}}</h6>
          <p class="hide" [innerHTML]="mapArticleLanguage.get(article.id!)?.description"></p>

        </div>

      </div>


    </div>
  </div>

  <div
    class="event-section-home"
  >
    <h3>
      {{ "home.subparagraph.events" | translate }}
    </h3>

    <div
      [routerLink]="['/events/event', event.id]"
      class="display-article-event-container full"
      *ngFor="let event of events"
    >
      <div
        class="article-event-image-container"
      >
        <img [src]="mapEventPhoto.get(event.id!)">
      </div>

      <div
        class="article-event-info-container"
      >
        <div
          class="writer-info-container"
        >

          <div
            style="display: flex; flex-direction: column; justify-content: center"
          >
            <h6
              style="font-size: 14px; color: #484554; font-weight: bold;"
            ><i class="fa fa-calendar-check-o"></i> {{event.date_time?.toDate() | date:"MMM d, y 'at' h:mm a" }} </h6>
            <h6
              style="font-size: 14px; color: #484554; font-weight: bold"
            ><i class="fa fa-map-marker"></i> {{event.address}}</h6>
          </div>
        </div>

        <div style="overflow: hidden; text-overflow: ellipsis">
          <h6
            style="font-size: 18px"
            class="article-title">{{mapEventLanguage.get(event.id!)?.title}}</h6>
          <p
            class="hide" [innerHTML]="mapEventLanguage.get(event.id!)?.description"></p>
        </div>

      </div>


    </div>
  </div>
</div>


