<div
  class="article-event-page-container"
  *ngIf="!isDataLoaded"
>
  <i class="fa fa-spin fa-fa-spinner"></i>
</div>

<div
  *ngIf="isDataLoaded"
  class="article-event-page-container"
>
  <div
    *ngIf="mapEventLang.get(event.id!) as info"
  >

    <div
      class="cover-photo-container"
    >
      <img [src]="mapPhotoUrl.get('cover')" alt="cover">

      <div
        [routerLink]="'/events'"
        class="back-arrow"
      >
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </div>
    </div>

    <div
      class="article-event-container"
    >
      <div
        class="info-article-event"
      >
        <div
          class="article-event-title-container"
        >
          {{info.title}}
        </div>

        <div
          class="writer-article-container"
        >
          <p>
            <i class="fa fa-calendar-check-o"></i> {{event.date_time?.toDate() | date:("EEE, MMMM d, y 'at' h:mm a")}}
            <br>
            <i class="fa fa-map-marker"></i> {{event.address}}
          </p>
        </div>


        <hr>

        <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(info.description!)"></div>

        <div
          class="subparagraph-container"
          *ngFor="let sub of info.subparagraphs"
        >
          <img *ngIf="sub.photo != ''"  [src]="mapPhotoUrl.get(sub.photo!)">
          <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(sub.description!)"></div>
        </div>

        <div
          class="button-claim-container"
          *ngIf="!eventExpired"
        >
          <div
            class="button-claim-container"
            *ngIf="loggedUser != null"
          >
            <div
              *ngIf="hasTicket"
              class="button-claim-ticket"
            >
              {{ticketOwnedString}}
            </div>

            <div
              *ngIf="!hasTicket"
              (click)="addNewParticipant()"
              class="button-claim-ticket"
            >
              {{claimTicketString}}
            </div>
          </div>
          <div
            *ngIf="loggedUser == null"
            class="button-claim-ticket"
            (click)="openLogin()"
          >
            {{logInString}}
          </div>
        </div>

        <div
          class="button-claim-container"
          *ngIf="eventExpired"
        >
          <div
            class="button-claim-ticket"
          >
            {{eventExpiredString}}
          </div>

        </div>

      </div>

    </div>


  </div>

  <div
    class="other-links-container"
  >
    <div
      class="change-lang-article-event-container"
    >
      <div
        class="change-lang-article-event"
      >
        <div
          (click)="changeLangEvent('en')"
        >
          <img src="./assets/img/languages/united-kingdom-squared.png">
        </div>
        <div
          (click)="changeLangEvent('ko')"
        >
          <img src="./assets/img/languages/south-korea-squared.png">
        </div>
        <div
          (click)="changeLangEvent('it')"
        >
          <img src="./assets/img/languages/italian-squared.png">
        </div>

      </div>

      <div>
        <h6
          style="font-weight: bold;"
        >
          {{language}}
        </h6>
      </div>

    </div>

    <div
      *ngIf="relatedEvents.length > 0"
    >
      <p
        class="related-articles-events-title"
      >
        <i class="fa fa-compass" aria-hidden="true"></i>
        {{relatedEventsTitle}}
      </p>

      <div
        (click)="reloadCurrentRoute(event.id!)"
        *ngFor="let event of relatedEvents"
        class="related-articles-events-list"
      >
        <div
          *ngIf="language == 'English'"
        >
          <h6>{{ event.en?.title }}</h6>
          <p [innerHTML]="sanitizer.bypassSecurityTrustHtml(event.en?.description!)"></p>
        </div>
        <div
          *ngIf="language == '한국인'"
        >
          <h6>{{ event.ko?.title }}</h6>
          <p [innerHTML]="sanitizer.bypassSecurityTrustHtml(event.ko?.description!)"></p>
        </div>
        <div
          *ngIf="language == 'Italiano'"
        >
          <h6>{{ event.it?.title }}</h6>
          <p [innerHTML]="sanitizer.bypassSecurityTrustHtml(event.it?.description!)"></p>
        </div>
        <hr>
      </div>
    </div>

  </div>

</div>