.slideshow-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

c-carousel {
  position: relative;
}

c-carousel,
c-carousel img {
  width: 1200px;
  height: 700px;
}

.title-slideshow {
  color: white;
  margin: 5px;
  position: absolute;
  width: 40%;
  bottom: 0;
  left: 0;
  background-color: #91110E;
  padding: 5px;
  font-size: 18px;
}

@media screen and (max-width: 1400px) {
  c-carousel,
  c-carousel img {
    width: 1000px;
    height: 600px;
  }
}

@media screen and (max-width: 1200px) {
  c-carousel,
  c-carousel img {
    width: 800px;
    height: 500px;
  }
}

@media screen and (max-width: 1000px) {
  c-carousel,
  c-carousel img {
    width: 600px;
    height: 450px;
  }
}

@media screen and (max-width: 800px) {
  c-carousel,
  c-carousel img {
    width: 400px;
    height: 280px;
  }

  .title-slideshow {
    font-size: 14px;
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  c-carousel,
  c-carousel img {
    width: 300px;
    height: 140px;
  }

  .title-slideshow {
    font-size: 10px;
    width: 60%;
  }
}


