<div
  class="slideshow-container"
  *ngIf="images.length == 0"
>

</div>

<div
  class="slideshow-container"
  *ngIf="images.length != 0"
>
  <c-carousel [interval]="3000">
    <c-carousel-inner>
      <c-carousel-item
        *ngFor="let slide of images"
        style="border-radius: 8px;"
      >
        <div
          style="border-radius: 8px;"
        >
          <img
            [src]="slide"
            alt="slider-image"
          />
        </div>
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control caption="Next" direction="next"></c-carousel-control>
    <p
      class="title-slideshow"
    >{{description}}</p>
  </c-carousel>



</div>
