
<div class="carousel-container">
  <div class="carousel">
    <c-carousel [dark]="true" *ngIf="sliderImages.length > 0" [interval]="2000">

      <c-carousel-inner>
        <c-carousel-item *ngFor="let slide of sliderImages">
          <img
            loading="eager"
            src="{{slide.src}}"
          />
        </c-carousel-item>
      </c-carousel-inner>
      <!--
      <c-carousel-control caption="Previous" direction="prev"></c-carousel-control>
      <c-carousel-control caption="Next" direction="next"></c-carousel-control>
      -->
    </c-carousel>
  </div>
</div>


