<div
  class="slideshow-container"
  *ngIf="images.length == 0"
>

</div>

<div
  class="slideshow-container"
  *ngIf="images.length != 0"
>
  <c-carousel [interval]="3000">
    <c-carousel-inner>
      <c-carousel-item *ngFor="let slide of images">
        <img
          [src]="slide"
          alt="slider-image"
        />
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
    <p
      class="title-slideshow"
    >{{description}}</p>
  </c-carousel>



</div>
