<div
  *ngIf="isDataLoaded"
  class="articles-page-container"
>

  <div
    *ngIf="articleListDisplayed.length == 0"
    class="list-articles-container"
  >
    <h3
      class="articles-page-titles-container"
    >{{"articles.subparagraph.no-articles" | translate}}</h3>
    <hr>
  </div>

  <div
    *ngIf="articleListDisplayed.length > 0"
    class="list-articles-container"
  >
    <h3
      class="articles-page-titles-container"
    >{{"articles.subparagraph.articles" | translate}}</h3>
    <hr>

    <div
      class="display-article-container"
      *ngFor="let article of articleListDisplayed | paginate: {
                                                              itemsPerPage: pageSize,
                                                              currentPage: page,
                                                              totalItems: allArticlesFiltered.length
                                                              }"
    >
      <div
        class="article-image-container"
      >
        <img [src]="mapArticlePhoto.get(article.id!)">
      </div>

      <div
        class="article-info-container"
      >
        <div
          class="writer-info-container"
        >
          <div>
            <img [src]="mapMemberPhoto.get(article.email!)" alt="member-photo">
          </div>

          <div
            style="display: flex; flex-direction: column; align-items: flex-start"
          >
            <h6
              style="font-size: 14px;"
            >{{mapArticleMember.get(article.id!)}} <i class="fa fa-pencil" aria-hidden="true"></i></h6>
            <h6
              style="font-size: 14px;"
            >{{article.date_time?.toDate() | date:"MMM d, y" }} &#x2022; {{article.lecture_time}} {{"articles.subparagraph.minutes" | translate}}</h6>
          </div>
        </div>

        <div style="overflow: hidden; text-overflow: ellipsis">
          <h6 class="article-title">{{mapArticleLanguage.get(article.id!)?.title}}</h6>
          <p class="hide" [innerHTML]="mapArticleLanguage.get(article.id!)?.description"></p>

        </div>

      </div>


    </div>

    <div *ngIf="articleListDisplayed.length > 0">
      <div *ngIf="articleListDisplayed.length > 0" class="pagination-container">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          [responsive]="true"
          (pageChange)="handlePageChange($event)"
        ></pagination-controls>
      </div>
    </div>
  </div>

  <div
    class="filters-articles-container"
    id="filter-articles"
  >
    <h3
      class="articles-page-titles-container"
    >
      {{"articles.subparagraph.writers" | translate}}

      <i
        style="cursor:pointer; font-size: 13px; align-self: center"
        class="fa fa-info-circle"
        aria-hidden="true"
        title="Click on a writer to toggle the visibility of all his/her articles"
      ></i>
    </h3>
    <hr>

    <div
      class="grid-members"
    >
      <div
        *ngFor="let member of allMembers; let i = index;"
      >
        <div
          class="writer-info-container filters active"
          (click)="toggleMemberArticle(member, 'member' + i)"
          id="member{{i}}"
        >
          <div>
            <img [src]="mapMemberPhoto.get(member.email!)" alt="member-photo">
          </div>

          <div
            style="display: flex; flex-direction: column; align-items: flex-start"
          >
            <h6
              style="font-size: 14px; margin: 0"
            >{{member.name}} {{member.surname}}</h6>
          </div>
        </div>

      </div>
    </div>


  </div>

</div>
