.page-container {
  margin-top: 310px;
  margin-bottom: 100px;
}

.container-admin-page {
  padding: 100px;
}



.content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.article {
  min-height: 100%;
  background-color: #DBD3D6!important;
}
.event {
  min-height: 100%;
  background-color: #DAD0CB !important;
}

app-footer {
  position: sticky;
  top: 100%;
}


@media only screen and (max-width: 600px){
  .container-admin-page {
    padding: 100px 20px 80px 70px;
  }
}

