<div
  class="content"
  *ngIf="hideNavbarAndFooter && !articlePageVisible && !eventPageVisible"
>
  <app-navbar></app-navbar>

  <!--
  <div class="header">
    <switchlang></switchlang>

    <navbar></navbar>
  </div>
 -->

  <!-- <a href="#" (click)="$event.preventDefault(); goToContact()">Contact Us</a> -->
  <div class="page-container">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
</div>


<div
  class="content article"
  *ngIf="articlePageVisible"
>
  <router-outlet></router-outlet>
</div>

<div
  class="content event"
  *ngIf="eventPageVisible"
>
  <router-outlet></router-outlet>
</div>


<div
  class="content"
  *ngIf="!hideNavbarAndFooter && !articlePageVisible && !eventPageVisible"
>
  <app-admin-header *ngIf="!hideNavbarAndFooter"></app-admin-header>

  <div class="container-admin-page">
    <router-outlet></router-outlet>
  </div>

</div>





