
<div class="admin-horizontal-header">

  <div class="logo-admin-menu">
      <img src="assets/logo/logo.png">
  </div>


  <div
    routerLink="/"
    class="return-home"
  >
    <p>Home</p>
    <i class="fa fa-home" aria-hidden="true"></i>
  </div>

</div>

<div
  id="menu"
  class="menu-container hidden-menu">
  <div
    class="admin-vertical-header"
  >

    <!-- ADMIN MAIN PAGE -->
    <div
      class="admin-main-container"
      (click)="changeTextMenu('Menu')"
      routerLink="admin"
    >
      <h6 class="menu-entry-name" >Main</h6>
    </div>

    <hr>

    <div class="menu-entries">

      <!-- EVENTS -->
      <div
        class="entry-container"
        (click)="toggleDropdownMenu('events')"
      >
        <i style="font-size: 22px" class="fa fa-calendar-o"></i>
        <h6 class="menu-entry-name">Events</h6>
        <i style="font-size: 18px" class="fa fa-angle-right"></i>
      </div>

      <div
        class="sub-menu invisible"
        id="events"
      >
        <div class="close-sub-menu-container">
          <i
            (click)="toggleDropdownMenu('events')"
            style="font-size: 16px"
            class="fa fa-arrow-left"></i>
        </div>
        <p
          (click)="moveVerticalMenu()"
          routerLink="admin/events/view"
        >View</p>
        <p
          (click)="moveVerticalMenu()"
          routerLink="admin/events/create"
        >Create</p>
        <!--
        <p
          (click)="changeTextMenu('Events')"
        >Modify</p>
        <p
          (click)="changeTextMenu('Events')"
        >Delete</p>
        -->
      </div>


      <!-- ARTICLES -->
      <div
        class="entry-container"
        (click)="toggleDropdownMenu('articles')"
      >
        <i style="font-size: 22px" class="fa fa-sticky-note-o"></i>
        <h6 class="menu-entry-name">Articles</h6>
        <i style="font-size: 18px" class="fa fa-angle-right"></i>
      </div>

      <div
        class="sub-menu invisible"
        id="articles"
      >
        <div class="close-sub-menu-container">
          <i
            (click)="toggleDropdownMenu('articles')"
            style="font-size: 16px"
            class="fa fa-arrow-left"></i>
        </div>
        <p>View</p>
        <p>Create</p>
        <p>Modify</p>
        <p>Delete</p>
      </div>


      <!-- ANNOUNCEMENTS -->
      <div
        class="entry-container"
        (click)="toggleDropdownMenu('announcements')"
      >
        <i style="font-size: 22px" class="fa fa-bell-o"></i>
        <h6 class="menu-entry-name">Announcements</h6>
        <i style="font-size: 18px" class="fa fa-angle-right"></i>
      </div>

      <div
        class="sub-menu invisible"
        id="announcements"
      >
        <div class="close-sub-menu-container">
          <i
            (click)="toggleDropdownMenu('announcements')"
            style="font-size: 16px"
            class="fa fa-arrow-left"></i>
        </div>

        <p>View</p>
        <p>Create</p>
        <p>Modify</p>
        <p>Delete</p>
      </div>


      <!-- MEMBERS -->
      <div
        class="entry-container"
        (click)="toggleDropdownMenu('members')"
      >
        <i style="font-size: 22px" class="fa fa-users"></i>
        <h6 class="menu-entry-name">Members</h6>
        <i style="font-size: 18px" class="fa fa-angle-right"></i>
      </div>

      <div
        class="sub-menu invisible"
        id="members"
      >
        <div class="close-sub-menu-container">
          <i
            (click)="toggleDropdownMenu('members')"
            style="font-size: 16px"
            class="fa fa-arrow-left"></i>
        </div>

        <p>View</p>
        <p>Create</p>
        <p>Modify</p>
        <p>Delete</p>
      </div>
    </div>


    <!-- PAGES -->
    <div
      class="entry-container"
      (click)="toggleDropdownMenu('pages')"
    >
      <i style="font-size: 22px" class="fa fa-file-code-o"></i>
      <h6 class="menu-entry-name">Pages</h6>
      <i style="font-size: 18px" class="fa fa-angle-right"></i>
    </div>

    <div
      class="sub-menu invisible"
      id="pages"
    >
      <div class="close-sub-menu-container">
        <i
          (click)="toggleDropdownMenu('pages')"
          style="font-size: 16px"
          class="fa fa-arrow-left"></i>
      </div>
      <p>Home</p>
      <p>About</p>
    </div>


    <hr>

  </div>

  <div
    class="toggle-menu-container"
    (click)="moveVerticalMenu()"
  >
    <p id="admin-page">{{menuText}}</p>

    <i *ngIf="!isMenuOpen" class="fa fa-bars" aria-hidden="true"></i>
    <i *ngIf="isMenuOpen" class="fa fa-times" aria-hidden="true"></i>
  </div>
</div>


