<div class="login-container">

  <!-- LOGIN BUTTON *ngIf="userService.uid | async as uid"-->
  <button
      (click)="openLogin()"
      *ngIf="(isLogged | async) === null"
  >
    <i class="fa fa-user-circle" aria-hidden="true"></i>
    {{ "login" | translate}}
  </button>
  <!-- SIGNUP BUTTON-->
  <button
      (click)="openSignUp()"
      *ngIf="(isLogged | async) === null"
  >
    <i class="fa fa-user-plus" aria-hidden="true"></i>
    {{ "sign-up" | translate}}
  </button>

  <!-- LOGOUT BUTTON *ngIf="userService.uid | async as uid" -->
  <button
    (click)="logout()"
    *ngIf="(isLogged | async) !== null"
  >
    <i class="fa fa-sign-out" aria-hidden="true"></i>
    {{ "logout" | translate}}
  </button>

</div>

