<div
  *ngIf="(isLogged | async) === null"
  class="login-container"
>

  <!-- LOGIN BUTTON -->
  <button
      (click)="openLogin()"
  >
    <i class="fa fa-user-circle" aria-hidden="true"></i>
    {{ "login" | translate}}
  </button>
  <!-- SIGNUP BUTTON-->
  <button
      (click)="openSignUp()"
  >
    <i class="fa fa-user-plus" aria-hidden="true"></i>
    {{ "sign-up" | translate}}
  </button>

</div>

<div
  *ngIf="(isLogged | async) !== null"
  class="login-container"
>

  <!-- LOGOUT BUTTON -->
  <div class="logout-container">
    <button
      (click)="toggleDiv()"
    >
      <i class="fa fa-user" aria-hidden="true"></i>
      Alessandro Seghini
    </button>


    <div
      id="user-menu"
      class="user-menu"
      *ngIf="isUserMenuVisible"
    >

      <p class="email-user">seghini53@gmail.com</p>
      <hr>

      <p
         class="user-menu-link"
         (click)="toggleDiv()"
      >{{ "user-menu-ticket" | translate}}</p>

      <p
         class="user-menu-link"
         (click)="logout()"
      >
        <i class="fa fa-sign-out" aria-hidden="true">
        </i>{{ "logout" | translate}}</p>
    </div>

  </div>

</div>

