<div
  *ngIf="isDataLoaded"
  class="articles-page-container"
>

    <div
      *ngIf="eventsListFiltered.length == 0"
      class="list-articles-events-container"
    >
      <h3
        class="articles-events-page-titles-container"
      >{{"events.subparagraph.no-events" | translate}}</h3>
      <hr>
    </div>

    <div
      *ngIf="eventsListFiltered.length > 0"
      class="list-articles-events-container"
    >
      <h3
        class="articles-events-page-titles-container"
      >{{"events.subparagraph.events" | translate}}</h3>
      <hr>

      <div
        [routerLink]="['/events/event', event.id]"
        class="display-article-event-container"
        *ngFor="let event of eventsListDisplayed | paginate: {
                                                              itemsPerPage: pageSize,
                                                              currentPage: page,
                                                              totalItems: eventsListFiltered.length
                                                              }"
      >
        <div
          class="article-event-image-container"
        >
          <img [src]="mapEventCoverPhoto.get(event.id!)">
        </div>

        <div
          class="article-event-info-container"
        >
          <div
            class="writer-info-container"
          >

            <div
              style="display: flex; flex-direction: column; justify-content: center"
            >
              <h6
                style="font-size: 14px; color: #484554; font-weight: bold;"
              ><i class="fa fa-calendar-check-o"></i> {{event.date_time?.toDate() | date:"MMM d, y 'at' h:mm a" }} </h6>
              <h6
                style="font-size: 14px; color: #484554; font-weight: bold"
              ><i class="fa fa-map-marker"></i> {{event.address}}</h6>
            </div>
          </div>

          <div style="overflow: hidden; text-overflow: ellipsis">
            <h6
              style="font-size: 18px"
              class="article-title">{{mapEventLanguage.get(event.id!)?.title}}</h6>
            <p
              class="hide" [innerHTML]="mapEventLanguage.get(event.id!)?.description"></p>
          </div>

        </div>


      </div>

      <div *ngIf="eventsListFiltered.length > 0">
        <div *ngIf="eventsListFiltered.length > 0" class="pagination-container">
          <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            [responsive]="true"
            (pageChange)="handlePageChange($event)"
          ></pagination-controls>
        </div>
      </div>
    </div>

  <div
    class="filters-articles-events-container"
    id="filter-articles-events"
  >
    <h3
      class="articles-events-page-titles-container"
    >
      {{"events.subparagraph.date" | translate}}
    </h3>
    <hr>

    <select #select (change)="onSelectChange(select.value)">
      <option
        [value]="'future'"
      >{{"events.subparagraph.select.future" | translate}}</option>
      <option
        [value]="'past'"
      >{{"events.subparagraph.select.past" | translate}}</option>
      <option
        [value]="'all'"
      >{{"events.subparagraph.select.all" | translate}}</option>
    </select>


  </div>


</div>
