<div
  style="padding: 0 5% 5% 5%"
  *ngIf="user != {}">
  <h2 style="font-weight: bold">{{'tickets.title' | translate }}</h2>

  <div class="admin-view-pages-container">
    <div class="sub-container top">
      <h6>{{'tickets.participation' | translate }}</h6>
      <select #select (change)="onSelectChange(select.value)">
        <option [value]=1>Future</option>
        <option [value]=2>Past</option>
        <option [value]=3>All</option>
      </select>
    </div>

    <div
      class="sub-container bottom">
      <h6 style="text-align: center" *ngIf="filteredParticipation.length == 0">{{'tickets.no-participation' | translate }}</h6>

      <table
        class="table-container"
        *ngIf="(filteredParticipation.length > 0)"
      >
        <tr>
          <th style="border-top-left-radius: 10px;">{{'tickets.date' | translate }}</th>
          <th>{{'tickets.event' | translate }}</th>
          <th style="border-top-right-radius: 10px;">{{'tickets.address' | translate }}</th>
        </tr>
        <tr
          *ngFor="let participation of displayedParticipation | paginate: {
                                                            itemsPerPage: pageSize,
                                                            currentPage: page,
                                                            totalItems: filteredParticipation.length
                                                            }"
        >
          <td
            style="width: 33%;"
          >{{participation.event?.date_time?.toDate() | date:"EEE, MMM d, y"}}
            <br>
            {{participation.event?.date_time?.toDate() | date:"h:mma"}}
          </td>
          <td style="width: 33%;">{{mapEventInfoLang.get(participation.event?.id!)?.title}}</td>
          <td
            style="width: 33%;"
          >{{participation.event?.address}}</td>

        </tr>
      </table>

      <div *ngIf="filteredParticipation.length > 0" class="pagination-container">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          [responsive]="true"
          (pageChange)="handlePageChange($event)"
        ></pagination-controls>
      </div>

    </div>
  </div>
</div>